/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.07.2014, 0:34:04
    Author     : phoenix
*/
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    overflow:hidden;
    top:50%;
}
.jssora03l {
    background-image: url("../img/left-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
body.blue .jssora03l {
    background-image: url("../img/left-arrow-blue.png");
}
body.green .jssora03l {
    background-image: url("../img/left-arrow-green.png");
}
body.red .jssora03l {
    background-image: url("../img/left-arrow-red.png");
}
.jssora03r { 
    background-image: url("../img/right-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
body.blue .jssora03r { 
    background-image: url("../img/right-arrow-blue.png");
}
body.green .jssora03r { 
    background-image: url("../img/right-arrow-green.png");
}
body.red .jssora03r { 
    background-image: url("../img/right-arrow-red.png");
}
body .jssora03l:hover { 
    background-image: url("../img/left-arrow-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
body .jssora03r:hover {
    background-image: url("../img/right-arrow-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
.jssora03ldn { 
    background-image: url("../img/left-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
body.blue .jssora03ldn { 
    background-image: url("../img/left-arrow-blue.png");
}
body.green .jssora03ldn { 
    background-image: url("../img/left-arrow-green.png");
}
body.red .jssora03ldn { 
    background-image: url("../img/left-arrow-red.png");
}
.jssora03rdn { 
    background-image: url("../img/right-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
body.blue .jssora03rdn { 
    background-image: url("../img/right-arrow-blue.png");
}
body.green .jssora03rdn { 
    background-image: url("../img/green.png");
}
body.red .jssora03rdn { 
    background-image: url("../img/red.png");
}
#slider1_container2 .jssora03l, #slider1_container2 .jssora03r, #slider1_container2 .jssora03ldn, #slider1_container2 .jssora03rdn
{
    margin-top: -25px;
}
#slider1_container2 .jssora03l {
    background-image: url("../img/arrow-left.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
body.blue #slider1_container2 .jssora03l {
    background-image: url("../img/arrow-left-blue.png");
}
body.green #slider1_container2 .jssora03l {
    background-image: url("../img/arrow-left-green.png");
}
body.red #slider1_container2 .jssora03l {
    background-image: url("../img/arrow-left-red.png");
}
#slider1_container2 .jssora03r { 
    background-image: url("../img/arrow-right.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
body.blue #slider1_container2 .jssora03r { 
    background-image: url("../img/arrow-right-blue.png");
}
body.green #slider1_container2 .jssora03r { 
    background-image: url("../img/arrow-right-green.png");
}
body.red #slider1_container2 .jssora03r { 
    background-image: url("../img/arrow-right-red.png");
}
body #slider1_container2 .jssora03l:hover { 
    background-image: url("../img/arrow-left-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
body #slider1_container2 .jssora03r:hover {
    background-image: url("../img/arrow-right-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
#slider1_container2 .jssora03ldn { 
    background-image: url("../img/arrow-left.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
body.blue #slider1_container2 .jssora03ldn { 
    background-image: url("../img/arrow-left-blue.png");
}
body.green #slider1_container2 .jssora03ldn { 
    background-image: url("../img/arrow-left-green.png");
}
body.red #slider1_container2 .jssora03ldn { 
    background-image: url("../img/arrow-left-red.png");
}
#slider1_container2 .jssora03rdn { 
    background-image: url("../img/arrow-right.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
body.blue #slider1_container2 .jssora03rdn { 
    background-image: url("../img/arrow-right-blue.png");
}
body.green #slider1_container2 .jssora03rdn { 
    background-image: url("../img/arrow-right-green.png");
}
body.red #slider1_container2 .jssora03rdn { 
    background-image: url("../img/arrow-right-red.png");
}
#slider1_container_view .jssora03l {
    background-image: url("../img/arrow-left-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
#slider1_container_view .jssora03r { 
    background-image: url("../img/arrow-right-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
#slider1_container_view .jssora03l:hover { 
    background-image: url("../img/arrow-left-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
#slider1_container_view .jssora03r:hover {
    background-image: url("../img/arrow-right-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
#slider1_container_view .jssora03ldn { 
    background-image: url("../img/arrow-left-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
}
#slider1_container_view .jssora03rdn { 
    background-image: url("../img/arrow-right-h.png");
    background-position: center center;
    background-repeat: no-repeat;
    right: 0px;
}
.man{
    margin-bottom: 10px;

}
.man .image{
    width: 125px;
    height: 125px;
    float: left;
    margin-right: 15px;
    position: relative;
}
.man .image .bull{
    position: absolute;
    top:50%;
    left: 100%;
    margin-left: -8px;
    margin-top: -8px;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    background-color: #886adf;
    z-index: 3;
}
body.blue .man .image .bull{
    background-color: #0058fc;
}
body.green .man .image .bull{
    background-color: #328b25;
}
body.red .man .image .bull{
    background-color: #c4384c;
}
.man .desc-user{
    padding-top: 30px;
}
.man .grey{
    color: #b0b0b0;
    margin-bottom: 0px;
}
.man .city{
    color: #4b4b4b;
    margin-bottom: 5px;
}
.man .image img{
    width: 100%;
    height: 100%;
    border:1px solid #e1e1e1;
}
.man .desc-user a{
    font-size: 14px !important;
    text-transform: uppercase;
}
.man:after{
    display: table;
    content: "";
    clear: both;
}
.image-slide img{
    border:1px solid #d0d0d0;
    border-radius: 4px;
}
.image-slide{
    position: relative;
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -46px;
    margin-top: -46px;
    width: 93px;
    height: 93px;
    background-image: url("../img/play.png");
    z-index: 3;
}
body.blue .play{
    background-image: url("../img/play-blue.png");
}
body.green .play{
    background-image: url("../img/play-green.png");
}
body.red .play{
    background-image: url("../img/play-red.png");
}
body .play:hover{
    background-image: url("../img/play-h.png");
}
#slider1_container_view {
    text-align: center;
}
#slider1_container_view .item-view{
    text-align: center;
    /*border:1px solid #c9c9c9;*/
}
#slider1_container_view .view-img{
    border: 1px solid #c9c9c9;
    border-radius: 0;
    margin: 0 auto;
    float: none;
    width: auto !important;
    max-height: 100% !important;
    max-width: 100% !important;
    position: initial !important;
}
.jssort07 .i {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 150px;
    height: auto;
    border: 0;
    margin: 0;
    border-radius: 0;
}

.jssort07 .p:hover .i, .jssort07 .pav .i {
    filter: alpha(opacity=100);
    opacity: 1;
}

.jssort07 .o {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 90px;
    border: 1px solid #ccc;
    transition: border-color .6s;
    -moz-transition: border-color .6s;
    -webkit-transition: border-color .6s;
    -o-transition: border-color .6s;
}
* html .jssort07 .o {
    /* ie quirks mode adjust */
    width /**/: 150px;
    height /**/: 90px;
}

.jssort07 .pav .o, .jssort07 .p:hover .o {
    border-color: #f47a2f;
}

.jssort07 .pav:hover .o {
    border-color: #f47a2f;
}

.jssort07 .p:hover .o {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}